<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<div style="font-family: Arial;font-size: large;">
    <a href="/tickets/" target="_blank">new ticket</a><br/>
    <a href="/tickets/show" target="_blank">view tickets</a><br/>
    <!--
    <a href="/users/" target="_blank">users</a><br/>
    <a href="/agents/" target="_blank">agents</a><br/>
    <a href="/comments/" target="_blank">comments</a><br/>
    <a href="/customers/" target="_blank">customers</a><br/>
    -->
</div>
</body>
</html>