body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*table{
  width: 98%;
  height: 80%;
  font-family: Arial;
  border: 1px solid black;
}*/


